
node_modules

package-lock.json

config/config.js

.vscode/


#v2-sortd-games/src/config/host-config.ts

.env

.cursorignore
.cursorindexingignore

.cursor/

# build react build directory
v2-sortd-games/build